{% extends 'core/layouts/base.html' %}

{% block title %} Team {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Team</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Team</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-neutral">Invite team members</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Team members within the organization</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Team Member</th>
                  <th scope="col" class="sort" data-sort="budget">Quick Contact</th>
                  <th scope="col" class="sort" data-sort="status">Access Type</th>
                  <th scope="col">Last Login</th>
                  <th scope="col" class="sort" data-sort="tags">Notes</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">

                {% for member in request.user.profile.tenant.team.all %}
                   
 
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          {% if member.profilePicture_url %}
                            <img alt="{{ member.userObject.first_name }} {{member.userObject.last_name}}" src="{{ member.profilePicture_url }}">
                          {% else %}
                            <img alt="{{ member.userObject.first_name }} {{member.userObject.last_name}}" src="/static/assets/img/theme/team-4.jpg">
                          {% endif %}
                        </a>
                        <div class="media-body">
                          <span class="name mb-0 text-sm">{{ member.userObject.first_name }} {{ member.userObject.last_name}}</span>
                        </div>
                      </div>
                    </th>
                    <td class="budget">
                      {% if member.userObject.email %}
                        Email ({{ member.userObject.email }}) <br/>
                      {% endif %}
                      {% if member.telephone %}
                        Phone ({{ member.telephone }})
                      {% endif %}
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                        <span class="status">{{ member.userType }}</span>
                      </span>
                    </td>
                    <td>
                      <div class="avatar-group">
                        {{ member.userObject.last_login }}
                      </div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        {% if member.notes %}
                          {{ member.line_split_notes|safe}}
                        {% else %}
                          no notes available
                        {% endif %}
                      </div>
                    </td>
                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          {% include "includes/team/team-actions.html" %}
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- Card footer -->
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>





    {% include "includes/footer/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
